	p {
	font-style:Silian Rail;
	
}

	li {
	font-style: Silian Rail;
	}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}


/* this is where the background colour and following white shade are added to allow for easier viewing. */
body {
   background-image:linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url("acc.jpg");
   background-size: 1300px 1300px;
   
}

/* this is where the profile image is edited. */
.profile-img {
    width: 300px;
	height: 250px;
	object-fit: cover;
}


.cost {
text-align: center;
color: navy;
font-weight: bold;
font-size: 1.2em;
padding: 1;
}